<div class="widget-quiz-data row">
    <div class="span5 widget-quiz-meta"></div>
    <div class="span5 offset1 widget-quiz-result"></div>
</div>

<div class="widget-quiz-wireframe">

    <div class="widget-quiz-questions">
        {{{question}}}
    </div>

    <div class="widget-quiz-toolbar">

        <div class="widget-quiz-counter">{{counter}}</div>

        <div class="widget-quiz-buttons">
            <button class="widget-quiz-prev btn btn-primary">{{text-prev}}</button>
            &nbsp;
            <button class="widget-quiz-next btn btn-primary">{{text-next}}</button>
            <button class="widget-quiz-check btn btn-primary btn-hidden">{{text-check}}</button>
        </div>

    </div>

</div>

